table {
	display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    margin: 0 auto;
    background: #eee;

}

.sidebar-container {
  background: #2b303b;
  bottom: 0;
  color: purple;
  font-family: "Futura", Verdana, sans-serif;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  transition-duration: .7s;
/*  left: -150px;
*/
}
.sidebar-container a {
	background: #eee;
	padding: 20px 0 20px 0;
	border: 1px solid #2b303b;
	display: block;
	text-decoration: none;
	margin-left: -40px;
	text-align: center;
}
.sidebar-container:hover {
	margin-left: -175px;
	transition-duration: .7s;
}